{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 88,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve"
}
